{
  "globals": {
    "err": true,
    "req": true,
    "res": true,
    "next": true,
  },
  "env": {
    "node": true,
    "browser": true,
    "mocha": true,
    "es6": true,
  },
  "rules": {
    "no-console": "off",
    "indent": [ "error", 2 ],
    "semi": ["error", "always"],
    "comma-dangle": ["error", "always-multiline"],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }]
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "modules": true,
      "impliedStrict": true,
      "experimentalObjectRestSpread": true,
      "Promise": true,
    }
  },
  # "extends": "eslint:recommended"
}
